.cabecalho {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 86px;
    margin-bottom: 48px;
    text-align: center;
}

.cabecalho__titulo {
    font-size: var(--fonte-tamanho-h1);
}

.cabecalho__subtitulo {
    color: var(--cor-texto-principal);
    font-size: var(--fonte-tamanho-h3);
    line-height: 120%;
    font-weight: var(--fonte-peso-semibold);
}

.cabecalho__texto {
    color: var(--cor-texto-principal);
    font-size: var(--fonte-tamanho-texto-grande);
    line-height: var(--fonte-entrelinha);
    font-weight: var(--fonte-peso-medium);
    text-align: justify;
}


@media screen and (min-width: 1024px) {
    .cabecalho__subtitulo {
        font-size: var(--fonte-tamanho-h2);
        line-height: var(--fonte-entrelinha);
    }
    
    .cabecalho__texto {
        text-align: center;
        width: 70%;
    }
}