.rodape {
    align-items: center;
    background-color: var(--cor-vermelho-escuro);
    display: flex;
    flex-direction: column;
    font-size: var(--fonte-tamanho-texto-legenda);
    padding: 1rem 1rem;
}

.rodape__informacoes {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.rodape__texto {
    margin-bottom: 0.25rem;
}

.rodape__icone::before {
    cursor: pointer;
    font-size: var(--fonte-tamanho-texto-grande);
    margin: 0.5rem;
}

.rodape__redes {
    display: flex;
    margin: 0.5rem;
}

.rodape__desenvolvedor {
    align-items: center;
    display: flex;
    flex-direction: column;

    -webkit-tap-highlight-color: #00000000;
}

.rodape__desenvolvedor-texto {
    font-weight: var(--fonte-peso-bold);
    line-height: var(--fonte-entrelinha);
    margin-bottom: 0.25rem;
}

.rodape__desenvolvedor-logo {
    height: 2rem;
    width: 11.776rem;
}

@media screen and (min-width: 768px) {
    .rodape {
        padding: 2rem 2rem;
        flex-direction: row;
        justify-content: center;
    }

    .rodape__icone:hover {
        color: var(--cor-texto-principal);
    }
    .rodape__desenvolvedor {
        position: absolute;
        right: 2rem;
    }

}

@media screen and (min-width: 1024px) {
    .rodape__texto a:hover {
        text-decoration: underline;
    }
}