.rodape {
    align-items: center;
    background-color: var(--cor-vermelho-escuro);
    display: flex;
    flex-direction: column;
    font-size: var(--fonte-tamanho-texto-legenda);
    padding: 1rem 1rem;
}

.rodape__icone::before {
    font-size: var(--fonte-tamanho-texto-grande);
    margin: 0.5rem;
}

.rodape__redes {
    display: flex;
    margin: 0.5rem;
}

@media screen and (min-width: 768px) {
    .rodape {
        padding: 2rem 2rem;
    }

    .rodape__icone:hover {
        color: var(--cor-texto-principal);
    }
}

@media screen and (min-width: 1024px) {
    .rodape__texto a:hover {
        text-decoration: underline;
    }
}