.rodape {
    background-color: var(--cor-vermelho-escuro);
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape__icone::before {
    font-size: var(--fonte-tamanho-texto-grande);
    margin: 0.5rem;
}

.rodape__redes {
    display: flex;
    margin: 0.5rem;
}